* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}


nav {
    display: flex;
    width: 85%;
    max-width: 1360px ;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav-item {
    list-style: none;
    display: flex;
    gap: 32px;
}

.nav-item a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}
nav .logo {
    cursor: pointer;
}

.green-btn {
  font-size: 16px;
  font-weight: 600;
  width: 200px;
  height: 44px;
  background-color: #469165;
  color: white;
  padding: 12.5px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.early-access {
    display: flex;
    gap: 6px;
    background-color: #FFFFFF;
    /* border: 1px solid red; */
    border-radius: 1000px;
    width: 229px;
    height: 35px;
    align-items: center;
    padding: 8px 12px;
    justify-items: center;
    color:#469165;
    font-size: 16px;
    font-weight: 500;
}

.hero-section {
  background-image: url("assets/hero-bg.png");
  background-size:1600px;
  background-position: center;
  background-repeat: no-repeat;
  height: 674px;
}

.hero-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 120px;
    margin-right: 120px;
}

.hero-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hero-text .white {
    font-size: 72px;
    font-weight: bold;
    color: #FFFFFF;
    /* width: 168px; */
} 
.hero-text .green {
    font-size: 72px;
    font-weight: bold;
    color: #469165;
    /* width: 168px; */
    margin-bottom: 16px;
} 

.hero-text p {
        font-size: 16px;
        color: #FFFFFF;
        /* border: 1px solid red; */
        margin-bottom: 32px;
        text-align: center;
        color: #FFFFFF;
}


.early-access {
    margin-bottom: 16px;
    margin-top: 116px;
}

.hero-button {
  display: flex;
  gap: 16px;
}

.hero-button .btn-sbyv {
  font-size: 16px;
  font-weight: 600;
  height: 44px;
  background-color: #469165;
  color: white;
  padding: 12.5px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
    
}

.hero-button .see-how .btn-see-how {
  font-size: 16px;
  font-weight: 600;
  height: 44px;
  background-color: rgba(255, 255, 255, 0);
  padding: 12.5px 16px;
  border-color: #FFFFFF;
  border-radius: 4px;
  cursor: pointer;
  color: #FFFFFF;
    
}

.notes-section {
    width: 1600px;
    background-color: #b2b9c010;
    align-items: center;
    margin: 0 auto;
}

.notes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.notes-heading-p1 {
  width: 1360px;
  height: 152px;
  display: flex;
  justify-content: center;   /* center horizontally */
  align-items: flex-end;     /* move to bottom */
  padding-bottom: 0;      /* space from bottom */
  margin-bottom: 16px;
  
}

.notes-heading-p1 p {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}

.notes-heading-p p {
    font-size: 16px;
    margin-bottom: 44px;
    color: #627382;
}



.notes-section .notes-card {

    display: flex;
    gap: 30px;
    width: 1360px;
    margin: 0 auto;

}

.card-container {
    width: 322px;
    height: 300px;

    padding-top: 60px;
    padding-right: 24px;
    padding-left: 24px;
    border:none;
    border-radius: 16px;
    box-shadow: 3px 3px  #0e0e0e15;
    background-color: #FFFFFF;
    box-shadow: 3px 3px  #0e0e0e15;
    
}

.icon {
  background-color: #F95555;
  padding: 20px;
  border-radius: 100px;
  width: 42px;
  margin-bottom: 16px;
  
}

.card-container h3 {
margin-bottom: 16px;
font-size: 24px;
font-weight: 600;
color: #001931;

}

.card-container .card {
display: flex;
flex-direction: column;
align-items: center;
margin: 0 auto;
    

}

.card-container .card .card-info {
display: flex;
flex-direction: column;
align-items: center;
}

.card-container .card .card-info p,h3 {
  text-align: center;  
}

.card-container .card .card-info p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

.brain-section {
    width: 1600px;
    margin: 0 auto;
}

.brain-container {
    width: 1360px;
    height: 600px;
    display: flex;
    gap: 60px;
    align-items: center;
    margin: 120px;
}

.solution {
    width: 700px;
    height: 20px;
    margin-bottom: 16px;
    
}

.solution p {
    color: #469165;
    
}

.text .your-brain {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.list {
    margin-top: 40px;
}

.list ul {
    list-style: none;
}

.list ul li {
     font-size: 16px;
     font-weight: 500;
     color: #001931;
}

.list ul li {
  display: flex;
  align-items: center; /* aligns icon & text vertically */
  gap: 8px;           /* space between icon and text */
  margin-bottom: 8px;
}

.think-section {
    width: 1600px;
    height: 506px;
margin: 0 auto;
}
.think-container {
    width: 1360px;
    height: 384px;
    margin: 0 120px 120px 120px ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #F7F6F2;
    border:none;
    border-radius: 12px;
    

}

.think-container .think-info {
display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.think-info h1 {
    margin-top: 80px;
    margin-bottom: 16px;
    color: #001931;
    font-size: 40px;

}

.think-info p {
   
    color: #001931;
    font-size: 16px;
    justify-content: center;

}

.think-info .green-btn {
    margin-top: 24px;
    margin-bottom: 16px;
}

footer {
    width: 1600px;
    height: 348px ;
    margin: 0 auto;
    background-color: #001931;
}

.footer-container .footer-line-1 {
display: flex;
justify-content: space-between;
width: 1360px;
height: 64px;
padding-top: 120px;
margin-right: 120px;
margin-bottom: 80px;
margin-left: 120px;
}

.footer-icons {
 list-style: none;
 align-items: center;
 list-style: none;
 display: flex;
 gap: 16px;
 cursor: pointer;
 width:20px;
}

.social-link p {
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
}

.twiter-btn {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 16px;
}

.linkdin-btn {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 16px;
}

.fb-btn {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 16px;
}


.footer-line-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #F7F6F2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-line-2 hr {
    width: 1600px;
}

